<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <script id="bls-template" type="text/x-handlebars-template">
      <p>{{bls}}</p>
    </script>


    <script src="/javascripts/bls.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
